@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.tacos {
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 15%;
}

main {
    padding: 16px;
    margin-bottom: auto;
}

header {
    background-color: #F8481C;
}

footer {
    padding: 24px;
    position: relative;
    bottom: 0px;
    background-color: #99cc66;
}

img {
    height: 200px;
}

nav {
    border: 1px solid black;
    padding: 16px;
}
#main {
    color: white;
    font-weight: bold;
    font-size: large;
}
a:hover {
    color: #90EE90;
}

a {
  text-decoration: none;
  color:#006400;
}

h1 {
    color: #047c66;
}

tr:nth-child(even) {
    background-color: lightgray;
}
